@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin {
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#image, #spiral {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
}
#text, #text-shadow {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  line-height: 22px;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  opacity: 1.0;
}
.shadowed {
  text-shadow: #000 2px 2px 0;
}
#text-shadow {
  margin-top: -9px;
  margin-left: 2px;
  color: #000;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}
#notecard {
  display: none;
}
#web-gl-spiral {
  position: absolute;
  top: 0;
  left: 0;
}
#toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 8pt;
  background: rgba(0, 0, 0, 0.5);
  margin: 2pt;
  padding: 3pt 4pt;
  color: white;
}
#toolbar a {
  transition: opacity 0.25s;
  text-decoration: none;
}
#toolbar a,
#toolbar a:active,
#toolbar a:visited {
  color: white;
  opacity: 0.5;
}
#toolbar a:hover {
  color: white;
  opacity: 1.0;
}
html.fontface #toolbar .label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
html.no-fullscreen .needs-fullscreen,
body:fullscreen .needs-fullscreen {
  display: none;
}
body:not(:fullscreen) .fullscreen-only {
  display: none;
}
