!!! 5
%html
  %head
    %link(rel="stylesheet" href="style.css")
    %meta(name="viewport" content="width=device-width, user-scalable=no")
  %body
    #text
      Loading...
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js")
    %script(src="ht.js")
    %script(type="text/x-hypno")
      :plain
        -textcolor <200,0,255>
        -backgroundcolor <127,127,127>
        -image awake.gif
        -textpause 2
        -whirlalpha 0.5
        Relax
        Sleep
        Nyan
        -jump 5
