[class^="icon-"],
[class*=" icon-"] {
  font-family: 'ht-glyph';
  font-style: normal;
  font-weight: normal;
  /* fix buttons height */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
}

.icon-info {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;');
}

.icon-folder {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;');
}

.icon-cog {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;');
}

.icon-resize-full {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;');
}

.icon-resize-small {
  *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;');
}
@font-face {
  font-family: 'ht-glyph';
  src: url('fonts/fc4dd8ea.ht-glyph.eot');
  src: url('fonts/fc4dd8ea.ht-glyph.eot#iefix') format('embedded-opentype'),
       url('fonts/0b01c28b.ht-glyph.woff') format('woff'),
       url('fonts/906b1a77.ht-glyph.ttf') format('truetype'),
       url('fonts/f115defa.ht-glyph.svg#ht-glyph') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */

/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */

html.no-fontface [class^="icon-"]:before,
html.no-fontface [class*=" icon-"]:before {
  display: none;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ht-glyph";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-info:before {
  content: '\e801';
}

/* '' */

.icon-folder:before {
  content: '\e804';
}

/* '' */

.icon-cog:before {
  content: '\e800';
}

/* '' */

.icon-resize-full:before {
  content: '\e802';
}

/* '' */

.icon-resize-small:before {
  content: '\e803';
}

/* '' */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.spin {
  -webkit-animation-name: rotate;
  animation-name: rotate;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

#image,
#spiral {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  width: 95%;
  height: 95%;
  top: 2.5%;
  left: 2.5%;
}

#text,
#text-shadow {
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  line-height: 22px;
  color: #fff;
  font-size: 18px;
  font-family: sans-serif;
  opacity: 1.0;
}

.shadowed {
  text-shadow: #000 2px 2px 0;
}

#text-shadow {
  margin-top: -9px;
  margin-left: 2px;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#notecard {
  display: none;
}

#web-gl-spiral {
  position: absolute;
  top: 0;
  left: 0;
}

#toolbar {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 8pt;
  background: rgba(0, 0, 0, 0.5);
  margin: 2pt;
  padding: 3pt 4pt;
  color: white;
}

#toolbar a {
  transition: opacity 0.25s;
  text-decoration: none;
}

#toolbar a {
  color: white;
  opacity: 0.5;
}

#toolbar a:hover {
  color: white;
  opacity: 1.0;
}

html.fontface #toolbar .label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

html.no-fullscreen .needs-fullscreen,
body:-webkit-full-screen .needs-fullscreen {
  display: none;
}

html.no-fullscreen .needs-fullscreen,
body:-moz-full-screen .needs-fullscreen {
  display: none;
}

html.no-fullscreen .needs-fullscreen,
body:-ms-fullscreen .needs-fullscreen {
  display: none;
}

html.no-fullscreen .needs-fullscreen,
body:fullscreen .needs-fullscreen {
  display: none;
}

body:not(:-webkit-full-screen) .fullscreen-only {
  display: none;
}

body:not(:-moz-full-screen) .fullscreen-only {
  display: none;
}

body:not(:-ms-fullscreen) .fullscreen-only {
  display: none;
}

body:not(:fullscreen) .fullscreen-only {
  display: none;
}

html.no-fileapi .needs-fileapi {
  display: none;
}

html.no-draganddrop .needs-draganddrop {
  display: none;
}

html.localstorage .missing-localstorage {
  display: none;
}

.dialog {
  position: absolute;
  left: 25%;
  top: 12.5%;
  width: 50%;
  background: rgba(0, 0, 0, 0.75);
  border: 1pt solid white;
  border-radius: 4pt;
  padding: 5pt;
  color: white;
  display: none;
  max-height: 75%;
  overflow: auto;
}

.dialog a {
  color: white;
}